<ion-app> 
    <ion-fab   padding  horizontal="center" side="start" menuId="first" contentId="content1"  horizontal="end" edge >
        <ion-fab-button color="secondary">
          <ion-icon  name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="bottom" >
            <ion-list  class="dark"  *ngFor="let pages of navigate2" >
                                    
                        <ion-fab-button color="medium" [routerLink]="pages.url"  >
                          <ion-icon [name]="pages.icon"  ></ion-icon>
                       
                        </ion-fab-button>                     
                
            </ion-list> 
                      
          </ion-fab-list>
      </ion-fab>
     
      
    <ion-menu  side="start" menuId="first" contentId="content1">
       <ion-header>
           <ion-toolbar color="primary"> 
             <ion-title>Menu</ion-title>                   
          </ion-toolbar>
        </ion-header>
        <ion-content>
          
            <ion-router-outlet [swipeGesture]="true"></ion-router-outlet>

          <ion-list *ngFor="let pages of navigate">
            
          <ion-menu-toggle auto-hide="true" *ngIf="pages.url"routerDirection="root" routerLinkActive="active" >
            <ion-item [routerLink]="pages.url" routerDirection="">
                <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                    <ion-label>{{pages.title}}</ion-label>
                  
            </ion-item>
          </ion-menu-toggle>

              <ion-item button *ngIf="pages.children?.length>0"(click)="pages.open=!pages.open" 
                 [class.active-parent]="pages.open" detail="false"> 
                 <ion-icon slot="start" name="arrow-forward" *ngIf="!pages.open" ></ion-icon>
                 <ion-icon slot="start" name="arrow-down" *ngIf="pages.open" ></ion-icon>
                 <ion-label>{{pages.title}}</ion-label>
                </ion-item>

                <ion-list *ngIf="pages.open">
                    <ion-menu-toggle>
                      <ion-item *ngFor="let sub of pages.children"[routerLink]="sub.url"
                      routerDirection="root"routerLinkActive="active" >
                      <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                      <ion-label>{{sub.title}}</ion-label>

                      </ion-item>
                    </ion-menu-toggle>
                </ion-list>

          </ion-list>

  
        </ion-content>
     
      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
  </ion-app>