<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Fichas medicas</ion-title>
    <p><strong>Bienvenido </strong>{{nombre}} {{apellido}}</p>
    
  </ion-toolbar>

</ion-header>

<ion-content padding >
    <ion-router-outlet [swipeGesture]="true"></ion-router-outlet>
    <ion-list>

    <ion-item *ngFor="let user of lista "  >
    <ion-label>
      <ion-grid>
      <p> <strong> rut: </strong> {{user.rut}} </p>
      <p> <strong> riesgo: </strong> {{user.riesgo}} </p>

      <p > <strong> Fecha de ergometria ingreso: </strong > {{user.ergo_fecha_ing}} </p>

      <p >  <strong >Fecha de ergometria engreso: </strong> {{user.ergo_fecha_egr}} </p>
      <p> <strong> ergo_vol_ing: </strong> {{user.ergo_vol_ing}} </p>
      <p> <strong> ergo_voml_ing: </strong> {{user.ergo_voml_ing}} </p>
      <p> <strong> ergo_voml_egr: </strong> {{user.ergo_voml_egr}} </p>
      <p> <strong> ergo_frecuencia cardiaca max_egr: </strong> {{user.ergo_fcmax_egr}} </p>

      <p> <strong> ergo_pulso_ing: </strong> {{user.ergo_pulso_ing}} </p>
      <p> <strong> ergo_pulso_egr: </strong> {{user.ergo_pulso_egr}} </p>
      <p> <strong> ergo_ve_ing: </strong> {{user.ergo_ve_ing}} </p>

      <p> <strong> ergo_ve_egr: </strong> {{user.ergo_ve_egr}} </p>
      <p> <strong> ergo_mets_ing: </strong> {{user.ergo_mets_ing}} </p>
      <p> <strong> ergo_mets_egr: </strong> {{user.ergo_mets_egr}} </p>
      </ion-grid>
    </ion-label>
  
    </ion-item> 

 
    

  </ion-list>


</ion-content>
