<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
          
    <ion-title>
        Reciclaje 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Bienvenido a la plataforma de reciclaje
    <ion-card>
        <ion-card-content padding>
     Usted podra ver los kilos de metales reciclados por dia, tambien podras agregar un nuevo deposito 
    de metal, incluso podra editarlo y borrarlo si es necesario.
    Desplegara un grafico para ver la cantidad total diaria de metales reciclados 
    Adicionalmente podra ver los otros materiales reciclados y un grafico de cuanto dinero recauda por material
    </ion-card-content>
  </ion-card>
  </div>
  
</ion-content>
